*,*::before,::after{
  box-sizing: border-box;
}
.bulle-icone.turquoise {
    background-color: #0CEEC0;
  }
  

.bulle-icone-bordure.turquoise {
    background-color: #03886D;
  }


.box{
  border: solid 0.06rem #03886D;
  padding: 1.25rem ;
  width: 12.5rem ;
  background-color: #F9F9F9;
}
.box a {
  text-decoration: none;
  color: #03886D; 
  font-size: 1.1rem;
  display: flex;
  margin: 0.6rem 0; 
}

.box a:hover {
  color: #000000; 
  cursor: pointer;
}
.titre{
    font-size:2rem;
    font-weight: bold;

}
.corps{
  font-size:1.25rem;
  margin: 3rem 0 3rem 0;
}

.warning{
  font-weight:bold;
}

.bloc-groupe{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.25rem;
  padding: 1.25rem; 
}
.bloc{
  display: flex; 
  flex-direction: column; 
  justify-content: flex-start; 
  align-items: flex-start; 
  box-shadow:  0 0.1rem 0.1rem #080808; ;
  border-radius: 0.6rem; 
  width: 19.75rem; 
  overflow: hidden;
  text-align: left;
}

.bloc-images{
  padding: 1rem; 
  height: 12rem;
  object-fit: cover; 
}
.bloc-texte h2{
  font-weight: bold;
  font-size: 1rem;
  margin: 1rem; 
  color: #080808;
}
.bloc-texte p{
  margin:1rem;
}
