*,*::before,::after{
  box-sizing: border-box;
}

.bulle-icone.violet {
    background-color: #9d12b9;
  }
  

.bulle-icone-bordure.violet {
    background-color: #510388;
  }

.sous-titre {
  font-size:1.5rem;
  font-weight: bold;
  margin: 1rem 0 1rem 0;
}

.corps{
  font-size:1.25rem;
  margin: 1.5rem 1rem 1.5rem 1rem;
  line-height:2rem;
}
.bloc{
  border: solid;
  border-color:#510388;
  padding:1rem;
}

.corps li{
  gap:1.25rem;
  list-style-type: circle;
}
ul{
  display: inline-block;
  padding:0 1.25rem 0 1.25rem;
}
img{
  margin: 1rem;
  height: 25rem; 
  object-fit: cover;
}

.info-groupe{
  margin: 1rem 0 2rem 0;
}
.info{
  display: flex;
  align-items: flex-start;
  justify-content: space-between; 
  margin: 2rem;
  gap: 2rem;
  min-height: 25rem;
}
.info-reverse{
  display:flex;
  align-items:flex-start;
  flex-direction: row-reverse;
  justify-content: space-between; 
  gap: 2rem;
  margin: 2rem;
}

.masters-groupe{
  display: flex;
  justify-content: center;
  gap: 1.25rem;
  padding: 1rem; 
  border: solid;
  border-color:#9d12b9;
  height: auto;
  width: auto;
  margin-top: 1rem;
}
.masters{
  display: flex; 
  flex-direction: column; 
  justify-content: flex-start; 
  align-items: flex-start; 
  border-radius: 0.6rem; 
  width: 19.75rem; 
  overflow: hidden;
  text-align: left;
}
.masters h2{
  font-size:1.5rem;
  font-weight: bold;
}
 