
*,*::before,::after{
  box-sizing: border-box;
}
.bulle-icone.bleu {
  background-color: #012A37;
}
.bulle-icone-bordure.bleu {
  background-color: #C9C9C9;
}

.corps {
 font-size: 1.5rem;
 text-align: left;
 margin: 1rem;
}
.corps-gras {
 font-size: 1.5rem;
 text-align: left;
 font-weight: bold;
 margin: 1rem;
}

.lieux{
  width:auto;
  padding:2rem ;
}

.spot{
  display: flex;
  align-items: flex-start;
  margin: 2rem;
}
.spot-reverse{
  display:flex;
  align-items:flex-start;
  flex-direction: row-reverse;
  margin: 2rem;

}

img{
  margin: 2rem;
  height: 20rem;
  object-fit:cover;
} 

.sous-titre{
  font-size: 2.5rem;
  margin: 1rem;
  font-weight: bold;
}
